<%= link_to root_path do %>
<button class="btn btn-dark mt-5 mx-5 px-5"> Back</button>
<% end %>
<section>
  <%= render partial: "shared/user", object: @user %>
  <div class="bio mb-3">
    <h2>Bio</h2>
    <p><%= @user.Bio %></p>
  </div>
   
  <%= render partial: "shared/create" %>
  <%= render partial: "shared/post", object: @post %>
  <div class="button">
    <button class= "btn btn-danger my-5">
    <%= link_to "See all Posts" , user_posts_path(@user.id) %>
    </button>
  </div>

</section>

