<% @posts.each_with_index do | post, index | %>
<div class="container">
  <div class="post">
    <%= link_to user_post_path(post.user.id, post.id) do %>
    <h2> <%= post.Title %></span>
      <% end %>
    </h2>
    <p> <%= post.Text %></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quidem omnis fuga commodi dolorem voluptatem
      minima eos eum quasi nemo aspernatur nulla, ipsum, adipisci temporibus!</p>
    <h6 class="commlikes">comments : <%= post.comments.count %> likes : <%= post.likes.count %></h6>
    <%= link_to user_post_path(post.user.id, post.id) do %>
    <button class="text-center btn btn-dark comment-btn">comment on this post</button>
      <% end %>
  </div>
  <% if post.comments.size > 0 %>
    <div class="comments">
      <% post.comments.each do |comment | %>
      <p> <%= comment.user.Name %> : <%= comment.text %></>
        <% end %>
    </div>
  <% end %>
</div>
<% end %>
