<% @posts.each_with_index do | post, index | %>
<div class="container">
  <div class="post">
    <h2> <%= post.Title %></span>
    </h2>
    <p> <%= post.Text %></p>
    <h6 class="commlikes">comments : <%= post.comments.count %> likes : <%= post.likes.count %></h6>
    <%= link_to user_post_path(post.user.id, post.id) do %>
    <button class="text-center btn btn-dark comment-btn">comment on this post</button>
    <% end %>
  </div>
  <% if post.comments.size > 0 %>
  <div class="comments">
    <% post.comments.each do |comment | %>
    <p> <%= comment.user.Name %> : <%= comment.text %></>
      <% end %>
  </div>
  <% end %>
</div>
<% end %>
<div class="button middle">
  <button class="btn btn-primary d-flex justify-content-center align-self-center my-5">Pagination</button>
</div>