<%= link_to user_path(@user.id) do %>
<button class="btn btn-dark mt-5 mx-5 px-5"> Back</button>
<% end %>
<section class="comments wrapper">
  <div class="post-detail">
    <h3><%= @post.Title %> by <%= @post.user.Name %></h3>
    <h6>comments : <%= @post.comments.count %> likes : <%= @post.likes.count %></h6>
  </div>
  <p> <%= @post.Text %></p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis odit totam quia consectetur cupiditate</p>

    <% if can? :destroy, @post %>
    <%= link_to "Delete", user_post_path(@user.id, @post.id), method: :delete, data: {disable_with: "Deleting..."}, class: "btn btn-danger mb-3"%>
    <% end %>
     <%= render partial: "shared/like"%>
</section>
<%= render partial: "shared/comment" %>
  <%= render "layouts/commentdestroy" %>